<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/bower_components/skeleton/css/normalize.css" charset="utf-8">
    <link rel="stylesheet" href="/bower_components/skeleton/css/skeleton.css" charset="utf-8">

    <title></title>
  </head>
  <body>

    <script src='/main.js'></script>
  </body>
</html>
